<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 float-left">
      <section>
        <ul class="nav flex-column grey lighten-4 py-4">
          <li class="nav-item">
            <a class="nav-link active" href="#!" (click)="AllBooks()"
              >All books</a
            >
          </li>
          <li class="nav-item" *ngFor="let author of authors">
            <a
              class="nav-link active"
              href="#!"
              (click)="getBookByAuthor(author.name)"
              >{{ author.name }}</a
            >
          </li>
        </ul>
      </section>
    </div>
    <div class="col-lg-10">
      <h4
        *ngIf="booksByAuthor && booksByAuthor.length === 0 && showDiv === true"
      >
        Aucun livre trouver pour cet auteur mais vous pouvez consulter tous nos
        autres livres :)
      </h4>

      <div class="container-fluid">
        <!-- book avec filtre -->
        <div class="row" *ngIf="booksByAuthor && booksByAuthor.length >= 1">
          <div
            class="col-md-3 col-sm-6"
            *ngFor="let bookByAuthor of booksByAuthor"
          >
            <!-- Card -->
            <div class="card">
              <div class="view overlay text-center">
                <img
                  class="card-img-top"
                  src="{{ bookByAuthor.url_img }}"
                  alt="Card image"
                />
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <div class="card-body text-center">
                <h3 class="card-title test">{{ bookByAuthor.name }}</h3>
                <h5 class="card-title">{{ bookByAuthor.author.name }}</h5>
                <p
                  class="card-text resume overflow-auto"
                  data-spy="scroll"
                  data-offset="0"
                >
                  {{ bookByAuthor.resume }}
                </p>
                <!-- Button -->
                <a href="#" class="btn btn-primary" (click)="emprunter(book.id)"
                  >Emprunter</a
                >
              </div>
            </div>
            <!-- Card -->
          </div>
        </div>
        <!-- sans filtre -->
        <div class="row">
          <div class="col-md-3 col-sm-6" *ngFor="let book of books">
            <!-- Card -->
            <div
              class="card"
              *ngIf="!booksByAuthor || booksByAuthor.length < 1"
            >
              <div class="view overlay text-center">
                <img
                  class="card-img-top"
                  src="{{ book.url_img }}"
                  alt="Card image"
                />
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <div class="card-body text-center">
                <h3
                  class="card-title test"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="{{ book.name }}"
                >
                  {{ book.name }}
                </h3>
                <h3 class="card-title test">{{ book.name }}</h3>
                <h5 class="card-title">{{ book.author.name }}</h5>
                <p
                  class="card-text resume overflow-auto"
                  data-spy="scroll"
                  data-offset="0"
                >
                  {{ book.resume }}
                </p>
                <!-- Button -->
                <a href="#" class="btn btn-primary" (click)="emprunter(book.id)"
                  >Emprunter</a
                >
              </div>
            </div>
            <!-- Card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
