<app-nav></app-nav>
<section class="mt-3">
  <h4 class="my-3">Mes livres</h4>
  <span class="mx-2">Date d'emprunt</span>
  <button *ngIf="sortedDate">
    <i
      class="fa fa-sort-alpha-asc"
      aria-hidden="true"
      (click)="sortByDateAsc()"
    ></i>
  </button>
  <button *ngIf="!sortedDate">
    <i
      class="fa fa-sort-alpha-desc"
      aria-hidden="true"
      (click)="sortByDateDesc()"
    ></i>
  </button>

  <div class="container mt-3">
    <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let myBook of myBooks">
        <!-- Card -->
        <div class="card">
          <div class="view overlay text-center">
            <img
              class="card-img-top"
              src="{{ myBook.book.url_img }}"
              alt="Card image"
            />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body text-center">
            <h3 class="card-title">{{ myBook.book.name }}</h3>
            <h5 class="card-title">{{ myBook.book.author.name }}</h5>
            <p
              class="card-text overflow-auto"
              data-spy="scroll"
              data-offset="0"
            >
              {{ myBook.book.created_at | date: "medium" }}
            </p>
            <!-- Button -->
            <button class="btn btn-danger" (click)="deleteMyBook(myBook.id, myBook.book.id)">
              Rendre
            </button>
          </div>
        </div>
        <!-- Card -->
      </div>
    </div>
  </div>
</section>
