<!-- Search form -->
<div class="container-fluid">
  <div class="row">
    <div class="col-11">
      <div class="md-form mt-0 search">
        <input
          class="form-control"
          type="text"
          placeholder="Search"
          aria-label="Search"
          (keyup)="modelChanged($event)"
        />
      </div>
    </div>
    <div class="col-1">
      <button *ngIf="sortAsc">
        <i
          class="fa fa-sort-alpha-asc"
          aria-hidden="true"
          (click)="sortByAsc()"
        ></i>
      </button>
      <button *ngIf="!sortAsc">
        <i
          class="fa fa-sort-alpha-desc"
          aria-hidden="true"
          (click)="sortByDesc()"
        ></i>
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <section>
        <ul class="nav flex-column grey lighten-4 py-4">
          <li class="nav-item">
            <a class="nav-link active" href="#!" (click)="AllBooks()"
              >All books</a
            >
          </li>
          <li class="nav-item" *ngFor="let author of authors">
            <a
              class="nav-link active"
              href="#!"
              (click)="getBookByAuthor(author.name)"
              >{{ author.name }}</a
            >
          </li>
        </ul>
      </section>
    </div>
    <div class="col-lg-9">
      <div class="container">
        <div class="row" *ngIf="!sortedBooks || sortedBooks.length < 1">
          <div class="col-3" *ngFor="let book of books">
            <!-- Card -->
            <div class="card">
              <div class="view overlay text-center">
                <img
                  class="card-img-top"
                  src="{{ book.url_img }}"
                  alt="Card image"
                />
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <div class="card-body text-center">
                <!-- <h3 class="card-title">{{ book.name }}</h3> -->
                <h5 class="card-title">{{ book.author.name }}</h5>
                <p
                  class="card-text resume overflow-auto"
                  data-spy="scroll"
                  data-offset="0"
                >
                  <!-- {{ book.resume }} -->
                </p>
                <!-- Button -->
                <a
                  href="#"
                  class="btn btn-primary m-1"
                  (click)="openModalMoreInfo(book)"
                  >More</a
                >
                <a
                  *ngIf="book.available == true"
                  href="#"
                  class="btn btn-primary m-1"
                  (click)="emprunter(book.id)"
                  >Emprunter</a
                >
                <a
                  *ngIf="book.available == false"
                  href="#"
                  class="btn btn-danger m-1"
                >
                  pas dispo</a
                >
              </div>
            </div>
            <!-- Card -->
          </div>
        </div>

        <div class="row" *ngIf="sortedBooks && sortedBooks.length >= 1">
          <div class="col-3" *ngFor="let book of sortedBooks">
            <!-- Card -->
            <div class="card">
              <div class="view overlay text-center">
                <img
                  class="card-img-top"
                  src="{{ book.url_img }}"
                  alt="Card image"
                />
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <div class="card-body text-center">
                <!-- <h3 class="card-title">{{ book.name }}</h3> -->
                <h5 class="card-title">{{ book.author.name }}</h5>
                <p
                  class="card-text resume overflow-auto"
                  data-spy="scroll"
                  data-offset="0"
                >
                  <!-- {{ book.resume }} -->
                </p>
                <!-- Button -->
                <a
                  href="#"
                  class="btn btn-primary m-1"
                  (click)="openModalMoreInfo(book)"
                  >More</a
                >
                <a
                  *ngIf="book.available == true"
                  href="#"
                  class="btn btn-primary m-1"
                  (click)="emprunter(book.id)"
                  >Emprunter</a
                >
                <a
                  *ngIf="book.available == false"
                  href="#"
                  class="btn btn-danger m-1"
                >
                  pas dispo</a
                >
              </div>
            </div>
            <!-- Card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
